<html>

<head>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" />
  {% block style %}
  {% endblock %}
</head>

<body>
  <section id="navbar">
    <a class="navbar-item navbar-logo" href="/">SCS</a>
  </section>

  <div class="content-wrapper">
    {% block content %}
    {% endblock %}
  </div>

  <footer id="footer">
    © Copyright 2022, NTU, HsiuChiehLee
  </footer>
</body>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdn.ethers.io/lib/ethers-5.0.umd.min.js" type="application/javascript"></script>
<script src="https://cdn.jsdelivr.net/gh/ethereum/web3.js/dist/web3.min.js"></script>

{% block script %}
{% endblock %}

</html>
