html, body {
  height: 100%;
  margin: 0;
}

::-webkit-scrollbar {
  display:none;
}

#footer {
	background-color: #393e46;
	text-align: center;
	font-family: "Open Sans", sans-serif;
	color: white;
  height: 30px;
	padding-top: 20px;
  margin: 0;
}

.content-wrapper {
  min-height: calc(100vh - 110px);
  margin: 0;
  overflow: scroll;
}

#navbar {
  height: 60px;
  background-color: rgb(30, 40, 60);
  width: 100%;
  margin: 0;
}

.navbar-item, .navbar-item:hover, .navbar-item:active {
  text-decoration: none;
  color: white;
}



.navbar-logo {
  font-size: 3em;
  margin-left: 20px;
  top: 200px;
}
