.content-box {
  display: grid;
  grid-template-columns: 200px auto;
  height: calc(100vh - 110px);
}

.content-select-bar {
  background-color: rgba(150, 150, 150, 0.5);
  width: 200px;
  height: calc(100vh - 110px);
  display: grid;
  grid-template-rows: 50px 50px 50px;
  gap: 20px;
}

.selected-content {
  width: calc(100vw - 200px);
  height: calc(100vh - 110px);
}

.symbol {
  height: 100px;
  font-size: 2em;
  text-align: center;
  margin: 0;
  padding-top: 20px;
}

.content-selector {
  height: 50px;
  width: 200px;
  text-align: center;
  border: none;
  background-color: rgba(100, 100, 100, 0.7);
  font-size: 1.5em;
}

.content-selector:hover {
  background-color: rgba(50, 50, 50, 0.7);
  cursor: pointer;
}

.blocker {
  z-index: 999;
  background-color: transparent;
  width: 100vw;
  height: calc(100vh - 60px);
  position: absolute;
  left: 0;
  top: 60px;
}

.propose-btn {
  position: absolute;
  right: 20px;
  top: 70px;
  width: 100px;
  height: 40px;
  background-color: rgba(50, 50, 50, 0.7);
  border: none;
  border-radius: 10px;
  cursor: pointer;
  padding: 0;
}

.propose-btn:hover {
  background-color: rgba(50, 50, 50, 1);
}

.no-js {
  display: none;
}

.propose-icon {
  color: white;
  font-size: 1.6em;
  margin-top: 7px;
}

.form-title {
  font-size: 2em;
  text-align: center;
}

.form-box {
  background-color: rgba(170, 170, 170, 1);
  text-align: center;
  margin-left: calc((100vw - 200px)*0.1 + 200px);
  margin-top: calc((100vh - 110px)*0.1);
  width: calc((100vw - 200px)*0.7);
  height: calc((100vh - 170px)*0.7);
  padding: 5%;
  border-radius: 25px;
  overflow: scroll;
}

.proposal-box {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  overflow-y: scroll;
  gap: 20px;
  width: calc(100vw - 260px);
  height: calc(100vh - 170px);
  background-color: rgba(220, 220, 220, 0.9);
  padding: 30px;
}

/* .proposal-manipulate-bar { */
  /* width: calc(100vw - 200px); */
  /* height: 60px; */
/* } */

.proposal-item {
  width: 350px;
  /* height: 400px; */
  overflow-wrap: break-word;
  height: 700px;
  padding: 15px;
  /* padding-right: 30px; */
  border-radius: 15px;
}

.voting {
  background-color: rgba(130, 130, 130, 0.8);
}

.rejected {
  background-color: rgba(130, 50, 50, 0.8);
}

.passed {
  background-color: rgba(50, 130, 50, 0.8);
}

.issue {
  /* height: 350px; */
}

.burn_one_issue_two {
  /* height: 500px; */
}

.burn {
  /* height: 300px; */
}

.agree-btn {
  margin-top: 15px;
  padding: 0;
  width: 60px;
  height: 60px;
  cursor: pointer;
  background-color: rgba(50, 190, 50, 1);
  border-radius: 10px;
  display: inline;
  border-width: 1px;
}

.agree-btn:hover {
  background-color: rgba(50, 230, 50, 1);
}

.agree-btn:disabled {
  background-color: rgba(50, 190, 60, 0.4);
  cursor: auto;
}

.passed .proposal-content-box .proposal-header-box .agree-btn,
.passed .proposal-content-box .proposal-header-box .reject-btn,
.rejected .proposal-content-box .proposal-header-box .agree-btn,
.rejected .proposal-content-box .proposal-header-box .reject-btn {
  display: none;
}

.reject-btn {
  display: inline;
  margin-top: 15px;
  padding: 0;
  width: 60px;
  height: 60px;
  cursor: pointer;
  background-color: rgba(190, 50, 50, 1);
  border-radius: 10px;
  border-width: 1px;
}

.reject-btn:hover {
  background-color: rgba(230, 50, 50, 1);
}

.reject-btn:disabled {
  background-color: rgba(190, 50, 50, 0.4);
  cursor: auto;
}



.agree-checkbox {
  color: rgba(0, 150, 0, 1);
  font-size: 1.5em;
}

.disagree-checkbox {
  color: rgba(150, 0, 0, 1);
  font-size: 1.5em;
}

.proposal-content-box {
  padding-left: 10px;
  width: 100%;
}

.form-vote-box {
  display: grid;
  grid-template-columns: 50% 50%;
}

.form-vote-content {
  overflow: scroll;
  height: calc((100vh - 110px)/2 - 60px);
}

.propose-form-item {
  width: 300px;
  height: 30px;
  margin-bottom: 5px;
}

.submit-btn {
  width: 60px;
  height: 40px;
  background-color: rgb(60, 200, 60);
}

.submit-btn:disabled {
  background-color: gray;
}

.close-btn {
  width: 60px;
  height: 40px;
}

.proposal-header-box {
  display: grid;
  grid-template-columns: auto 75px 80px;
  padding-right: 0;
}
