{% extends "templates/html_template.html" %}

{% block style %}
  <link href='http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/themes/base/jquery-ui.css' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/register.css') }}" />
{% endblock %}

{% block content %}
  <div class="register-form">
    <h3 class="title">
      Register
    </h3>
    <form method='POST' onsubmit="return confirm('Are you sure you want to submit?')" enctype="multipart/form-data">
      <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
      <input type='hidden' id="min-signature" name='min_signature' class="register-form-content" placeholder='Minimum Signature To Grant Certificate' pattern="\d*" size="50" required="required" value="1">
      <input type='text' name='company_name' class="register-form-content" placeholder='Company Name' size="50" required="required">
      <br>
      <input type='text' name='company_symbol' class="register-form-content" placeholder='Company Symbol' size="50" required="required">
      <br>
      <input type='date' name='founding_date' class="register-form-content" placeholder='Founding Date' size="50" required="required">
      <br>

      <input type="file" class="register-form-content" name="image" accept="image/*" required="required">
      <br>
      <br>
      <div class="member">
        <input type='text' name='member_account' class="register-form-content" placeholder='Member Account' size="42" required="required" pattern="^0x[a-fA-F0-9]{40}$">
        <br>
        <input type='number' step='1' name='member_vote' class="register-form-content" placeholder="Member Governance Token" required='required'>
        <br>
      </div>
      <input type="button" id="add-member" name="add-member" value="+Add Board Member" />
      <br><br>
      <div id="slider" style="width: 300px; margin: auto;"></div>
      <p id="slider-value"></p>
      <br>
      <br>
      <input type='submit' name='submit' class="submit-btn" value="Submit"/>
    </form>
  </div>
{% endblock %}

{% block script %}
<script src="//code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  <script>
    function register_slider() {
      $("#slider").slider({
        min: 1,
        max: 1000,
        slide: function(e, ui) {
          $("#slider-value").html("<p class='slider-text-min'>" + Math.round(ui.value/10) + "." + Math.round(ui.value%10) + "%</p> should sign for a proposal to validate it.");
          $("#min-signature").val(ui.value);
        }
      });

      $("#slider-value").html("<p class='slider-text-min'>" + Math.round($('#min-signature').val()/10) + "." + Math.round($('#min-signature').val()%10) + "%</p> should sign for a proposal to validate it.");
    }

    jQuery(function($) {
      var $button = $('#add-member'),
      $row = $('.member').clone();
      register_slider();

      $button.click(function() {
        $row.clone().insertBefore( $button );
      });
    });
  </script>
{% endblock %}
