{% extends "templates/html_template.html" %}

{% block style %}
  <link rel="stylesheet" href="{{ url_for('static', filename='css/userpage.css') }}" />
{% endblock %}

{% block content %}
<div class="content-box">
  <div id="content-select-bar" class="content-select-bar">
    <h3 class="symbol">{{ user_data['symbol'] }}</h3>
    <button class="content-selector" onclick="switch_content('collection')">Collection</button>
    <button class="content-selector" onclick="switch_content('proposal')">Proposal</button>
  </div>

  <div id="content-collection" class="selected-content collection-metadata-wrapper">
    <div id="collection-metadata" class="collection-metadata">
      <div class="collection-data user-vote-wrapper">
        <div id="user-vote" class='user-vote'>
        </div>
        <button class="send-vote-btn" onclick="open_form('send-vote')">
          <p class="send-vote-icon">Send Vote</p>
        </button>
      </div>
      <div id="total-found" class="collection-data total-found">
      </div>
      <div id="total-issue" class="collection-data total-issue">
      </div>
    </div>
    <div id="collection-box" class="collection-box">
    </div>
  </div>

  <div id="content-proposal" class="selected-content">
    <!-- <div class="proposal-manipulate-bar"> -->
      <!-- manipulate bar -->
    <!-- </div> -->
    <div id="proposal-box" class="proposal-box">
    </div>
    <button class="propose-btn" onclick="open_form('propose')">
      <p class="propose-icon">+Propose</p>
    </button>
  </div>
</div>

<div id="form-blocker" class="blocker no-js">
  <div class="form-box">
    <form id="form-send-vote" class="form-send-vote form" onsubmit="return confirm('Are you sure you want to send token?')" method=>
      <input id="csrf_token" type="hidden" id="csrf_token" name="csrf_token" value="{{ csrf_token() }}"/>
      <input id="send-vote-receiver" type="text" class="send-vote-form-item" size="50" placeholder="Receiver Account" pattern="^0x[a-fA-F0-9]{40}$" required='required'>
      <br>
      <input id="send-vote-amount" type='number' step='1' name='member_vote' class="send-vote-form-item" placeholder="Member Governance Token" required='required' min="1">
      <br>
      <br>
      <button id="send-vote-submit-btn" type='button' name='propose' class="submit-btn" onclick="sendVote()">Send</button>
      <br>
      <br>
      <button type="button" class="close-btn" onclick="close_form()">Close</button>
    </form>

    <form id="form-propose" class="form-propose form" onsubmit="return confirm('Are you sure you want to submit?')" method="POST" enctype="multipart/form-data">
      <input id="csrf_token" type="hidden" id="csrf_token" name="csrf_token" value="{{ csrf_token() }}"/>
      <h3 class="form-title">Propose An Operation</h3>
      <select id="operation" name="operation" class="propose-form-item need-ipfs" onchange='switch_propose_operation($(this).find(":selected").val())'>
        <option value="issue">Issue</option>
        <option value="founding">Founding</option>
        <option value="burn_one_issue_two">Burn One Issue Two</option>
        <option value="burn">Burn</option>
      </select>

      <div id="form-propose-founding" class="form-propose-operation">
        <input id="founding-amount" type="text" name="founding_amount" class="propose-form-item need-ipfs" size="50" placeholder="Founding Amount" pattern="\d*">
        <br>
        <input id="founding-image" type="file" class="register-form-contenti propose-form-item need-ipfs" name="founding_image" accept="image/*" placeholder="Founding Image">
        <br>
        <p id="founding-ipfs-uri" class="ipfs-uri"></p>
        <button type='button' name='set_ipfs' class="set-ipfs-btn" onclick="setIPFS()">Generate URI</button>
      </div>

      <div id="form-propose-issue" class="form-propose-operation">
        <input id="issue-amount" type="text" name="issue_amount" class="propose-form-item need-ipfs" size="50" placeholder="Issue Amount" pattern="\d*">
        <br>
        <input id="receiver" type="text" name="receiver" class="propose-form-item" size="50" placeholder="Receiver Account" pattern="^0x[a-fA-F0-9]{40}$">
        <br>
        <input id="issue-image" type="file" class="register-form-content propose-form-item need-ipfs" name="issue_image" accept="image/*" placeholder="Certificate Image">
        <br>
        <p id="issue-ipfs-uri" class="ipfs-uri"></p>
        <button type='button' name='set_ipfs' class="set-ipfs-btn" onclick="setIPFS()">Generate URI</button>
      </div>
      
      <div id="form-propose-burn_one_issue_two" class="form-propose-operation">
        <input id="b1i2-burn-id" type="text" name="b1i2_burn_id" class="propose-form-item" size="50" placeholder="Certificate Id To Burn" pattern="\d*">
        <br>
        <br>
        <input id="b1i2-issue-amount-1" type="text" name="b1i2_issue_amount_1" class="propose-form-item need-ipfs" size="50" placeholder="Issue Amount 1" pattern="\d*">
        <br>
        <input id="b1i2-receiver-1" type="text" name="b1i2_receiver_1" class="propose-form-item" size="50" placeholder="Receiver Account 1" pattern="^0x[a-fA-F0-9]{40}$">
        <br>
        <input id="b1i2-image-1" type="file" class="register-form-content propose-form-item need-ipfs" name="b1i2_image_1" accept="image/*" placeholder="Certificate Image 1">
        <br>
        <p id="burn-one-issue-two-ipfs-uri-1" class="ipfs-uri"></p>
        <br>
        <input id="b1i2-issue-amount-2" type="text" name="b1i2_issue_amount_2" class="propose-form-item need-ipfs" size="50" placeholder="Issue Amount 2" pattern="\d*">
        <br>
        <input id="b1i2-receiver-2" type="text" name="b1i2_receiver_2" class="propose-form-item" size="50" placeholder="Receiver Account 2" pattern="^0x[a-fA-F0-9]{40}$">
        <br>
        <input id="b1i2-image-2" type="file" class="register-form-content propose-form-item need-ipfs" name="b1i2_image_2" accept="image/*" placeholder="Certificate Image 2">
        <br>
        <p id="burn-one-issue-two-ipfs-uri-2" class="ipfs-uri"></p>
        <button type='button' name='set_ipfs' class="set-ipfs-btn" onclick="setIPFS()">Generate URI</button>
      </div>
      
      <div id="form-propose-burn" class="form-propose-operation">
        <input id="burn-id" type="text" name="burn_id" class="propose-form-item" size="50" placeholder="Burn Id" pattern="\d*">
      </div>

      <br><br>
      <button id="set-proposal-btn" type='button' name='propose' class="submit-btn" onclick="setProposal()">Submit</button>
      <br><br>
      <button type="button" class="close-btn" onclick="close_form()">Close</button>
    </form>
  </div>
</div>
{% endblock %}

{% block script %}
<script>
  $(function() {
    $( ".need-ipfs" ).click(function() {
        set_ipfs_btn();
    });
    $('.selected-content').hide();
    $('#form-blocker').addClass("no-js");
    set_ipfs_btn();
    $('<input>').attr({'type': 'hidden', 'name': 'user_id', 'value': '{{ user_id }}'}).appendTo('form');
    switch_content('{{ preselect_content }}');
    switch_propose_operation('issue');
  });

  window.ethereum.on('accountsChanged', function (accounts) {
    location.assign(location.origin + location.pathname + location.search + "&preselect_content=proposal" + location.hash);
  })

  const provider = new ethers.providers.Web3Provider(window.ethereum);
  const signer = provider.getSigner();
  var user_id = {{ user_id | tojson }};
  var total_found = Number(0), total_issue = Number(0);
  var collection_amount = [0], burned_list = [];
  user_id.toString();
  var user_abi = {{ user_abi | tojson }};

  function switch_content(content_type) {
      $('.selected-content').hide();
      $('#content-' + content_type).show();
    }

  function switch_propose_operation(operation_type) {
      $('.form-propose-operation').hide();
      $('#form-propose-' + operation_type).show();
      if (operation_type == 'burn') {
        $('#set-proposal-btn').prop('disabled', false);
      } else {
        set_ipfs_btn();
      }
    }

  function open_form(form_name) {
      $('.form').hide();
      $('.form-' + form_name).show();
      $('#form-blocker').removeClass("no-js");
    }

  function close_form() {
      set_ipfs_btn();
      $('#form-blocker').addClass("no-js");
    }

  async function agree_for_proposal(proposal_id) {
    const SCS_raw = new ethers.Contract(user_id, user_abi, signer);
    let tx = await SCS_raw.signProposal(proposal_id);
    console.log(tx);
    location.assign(location.origin + location.pathname + location.search + "&preselect_content=proposal" + location.hash);
  }

  async function reject_for_proposal(proposal_id) {
    const SCS_raw = new ethers.Contract(user_id, user_abi, signer);
    let tx = await SCS_raw.rejectProposal(proposal_id);
    console.log(tx);
    location.assign(location.origin + location.pathname + location.search + "&preselect_content=proposal" + location.hash);
  }

  function set_ipfs_btn() {
    if ($("#operation").find(":selected").val() != "burn") {
      $('.ipfs-uri').hide();
      $('.set-ipfs-btn').show();
      $('#set-proposal-btn').prop('disabled', true);
    }
  }

  function setIPFS() {
    if (confirm("Are You Sure You Want To Set IPFS For These Data?")) {
      var proposal_type = $('#operation').find(":selected").val();
      var csrf_token = $("#csrf_token").val();
      let formData = new FormData($("#form-propose")[0]);

      $.ajax({
        "url": "/set_up_IPFS",
        "type": "POST",
        "headers": {
          "X-CSRF-TOKEN": csrf_token
          },
        "data": formData,
        "contentType": false,
        "cache": false,
        "processData": false,
        }).done(function(data) {
          $("#founding-ipfs-uri").text(data["uri_1"]);
          $("#burn-one-issue-two-ipfs-uri-1").text(data["uri_1"]);
          $("#issue-ipfs-uri").text(data["uri_1"]);
          $("#burn-one-issue-two-ipfs-uri-2").text(data["uri_2"]);
          $(".set-ipfs-btn").hide();
          $(".ipfs-uri").show();
          $("#set-proposal-btn").prop("disabled", false);
        });
    }
  }

  function check_proposal_vote(proposalIdx) {
    const SCS_raw = new ethers.Contract(user_id, user_abi, signer);
    SCS_raw.checkProposalVote(proposalIdx).then(function(tx) {
      $("#check-proposal-vote-" + proposalIdx).html("<p class='proposal-vote-accept'>" + parseInt(tx[0]['_hex'], 16) + " / " + parseInt(tx[1]['_hex'], 16) + "</p>  <p class='proposal-vote-reject'>" + parseInt(tx[2]['_hex'], 16) + " / " + parseInt(tx[3]['_hex'], 16) + "</p>");
    });
  }

  async function sendVote() {
    if (confirm("Are You Sure You Want To Send Your Goverance Token?")) {
      var tx, vote_receiver = $("#send-vote-receiver").val(), vote_amount = $("#send-vote-amount").val();
      const SCS_raw = new ethers.Contract(user_id, user_abi, signer);
        signer.getAddress().then(async function(signer_addr) {
          tx = await SCS_raw.safeTransferFrom(signer_addr, vote_receiver, 0, vote_amount, []);
          console.log(tx);
          updateVoteNumber();
          close_form();
        });
    }
  }

  async function setProposal() {
      if(confirm('Are You Sure You Want To Submit?')) {
        var proposal_type = $('#operation').find(":selected").val();
        var tx;

        const SCS_raw = new ethers.Contract(user_id, user_abi, signer);

        if (proposal_type == 'founding') {
          var certificateTokenURI = $("#founding-ipfs-uri").text();
          tx = await SCS_raw.foundingProposal(certificateTokenURI);
          console.log(tx);
        }
        else if (proposal_type == 'issue') {
          var receiver = $("#receiver").val();
          var certificateTokenURI = $("#issue-ipfs-uri").text();
          tx = await SCS_raw.issueProposal(receiver, certificateTokenURI);
          console.log(tx);
        } else if (proposal_type == 'burn_one_issue_two') {
          var burn_id = $("#b1i2-burn-id").val();
          var receiver_1 = $("#b1i2-receiver-1").val();
          var certificateTokenURI_1 = $("#burn-one-issue-two-ipfs-uri-1").text();
          var receiver_2 = $("#b1i2-receiver-2").val();
          var certificateTokenURI_2= $("#burn-one-issue-two-ipfs-uri-2").text();
          tx = await SCS_raw.burnOneIssueTwoProposal(burn_id, receiver_1, certificateTokenURI_1, receiver_2, certificateTokenURI_2);
          console.log(tx);

        } else if (proposal_type == 'burn') {
          var burn_id = $("#burn-id").val();
          tx = await SCS_raw.burnProposal(burn_id);
          console.log(tx);
        } else {
          console.log('WTF');
        }
        location.assign(location.origin + location.pathname + location.search + "&preselect_content=proposal" + location.hash);
      }
    }

  function updateFound() {
    $("#total-found").html("<b>Found Amount : </b>" + total_found);
  }
  
  function updateIssue() {
    var total_valid_issue = 0;
    for (var i = 0; i < burned_list.length; i++) {
      if (burned_list[i] < collection_amount.length) {
        total_valid_issue -=  collection_amount[burned_list[i]];
      } else {
        $("#total-issue").html("<b>Issue Amount : </b>" + total_issue);
        console.log("inside");
      }
    }
    total_valid_issue += total_issue;
    console.log("outside");
    $("#total-issue").html("<b>Issue Amount : </b>" + total_valid_issue);
  }

  function getEvents() {
    let web3 = new Web3(
      new Web3.providers.WebsocketProvider("wss://rinkeby.infura.io/ws/v3/{{ WEB3_INFURA_PROJECT_ID }}")
    );

    const instance = new web3.eth.Contract(user_abi, user_id);

    let curAccount;
    provider.listAccounts().then(function(result) {
        curAccount = result[0];
      });

    instance.getPastEvents(
        "allEvents",
        { fromBlock: 0, toBlock: "latest" },
        (errors, events) => {
            if (!errors) {
                for (var i = 0; i < events.length; i++) {
                  let event_name = events[i]["event"];
                  let args = events[i]["returnValues"];
                  if (event_name == "FoundingProposalCreated"
                      || event_name == "IssueProposalCreated"
                      || event_name == "BurnProposalCreated"
                      || event_name == "BurnOneIssueTwoProposalCreated") {

                    let cur_proposal = document.createElement("div");
                    cur_proposal.setAttribute("id", "proposal-" + args["proposalIdx"]);
                    cur_proposal.classList.add("proposal-item");
                    cur_proposal.classList.add("voting");
                    let cur_proposal_content_box = document.createElement("div");
                    cur_proposal_content_box.classList.add("proposal-content-box");
                    let cur_proposal_header_box = document.createElement("div");
                    cur_proposal_header_box.classList.add("proposal-header-box");
                    let cur_proposal_title = document.createElement("h3");
                    $(cur_proposal_header_box).append(cur_proposal_title)
                    cur_proposal_title.classList.add("proposal-title");
                    cur_proposal_title.innerText = "Proposal#" + args["proposalIdx"];
                    let cur_proposal_content = document.createElement("div");
                    cur_proposal_content.classList.add("proposal-content");
                    $(cur_proposal_content).append("<p>Proposer : <br><b>" +args["proposer"]+ "</b></p>");
                    if (event_name == "FoundingProposalCreated") {
                      fetch(args["certificateTokenURI"])
                      .then(function(response) {
                        return response.json();
                      }).then(function(data) {
                        res_attr = data["attributes"];
                        $(cur_proposal_content).append("<p>Operation : <br><b>Founding</b></p>");
                        $(cur_proposal_content).append("<p>Founding Amount : <br><b>" + res_attr[3]["value"] + "</b></p>");
                        $(cur_proposal_content).append("<p>Certificate Name To Generate : <br><b>" + data["name"] + "</b></p>");
                        $(cur_proposal_content).append("<img style='max-width: 100px; max-height: 100px;' src='" + data["image"] + "'>")
                        $(cur_proposal_content).append("<p>Proposal Timestamp : <br><b>" + res_attr[2]["value"] + "</b></p>");
                        });
                    } else if (event_name == "IssueProposalCreated") {
                      fetch(args["certificateTokenURI"])
                       .then(function(response) {
                        return response.json();
                      }).then(function(data) {
                        res_attr = data["attributes"];
                        $(cur_proposal_content).append("<p>Operation : <br><b>Issue</b></p>");
                        $(cur_proposal_content).append("<p>Issue Amount : <br><b>" + res_attr[3]["value"] + "</b></p>");
                        $(cur_proposal_content).append("<p>Certificate Name To Generate : <br><b>" + data["name"] + "</b></p>");
                        $(cur_proposal_content).append("<img style='max-width: 100px; max-height: 100px;' src='" + data["image"] + "'>")
                        $(cur_proposal_content).append("<p>Proposal Timestamp : <br><b>" + res_attr[2]["value"] + "</b></p>");
                      });
                    } else if (event_name == "BurnOneIssueTwoProposalCreated") {
                      $(cur_proposal_content).append("<p>Operation : <br><b>Burn One Issue Two</b></p>");
                      $(cur_proposal_content).append("<p>Burn Id : <br><b>" + args["tokenId"]+ "</b></p>");
                      fetch(args["certificateTokenURI_1"])
                      .then(function(response) {
                        return response.json();
                      }).then(function(data) {
                        res_attr = data["attributes"];
                        $(cur_proposal_content).append("<p>Issue Amount 1 : <br><b>" + res_attr[3]["value"] + "</b></p>");
                        $(cur_proposal_content).append("<p>Certificate Name To Generate 1 : <br><b>" + data["name"] + "</b></p>");
                        $(cur_proposal_content).append("<img style='max-width: 100px; max-height: 100px;' src='" + data["image"] + "'>")
                      });

                      fetch(args["certificateTokenURI_2"])
                      .then(function(response) {
                        return response.json();
                      }).then(function(data) {
                        res_attr = data["attributes"];
                        $(cur_proposal_content).append("<p>Issue Amount 2 : <br><b>" + res_attr[3]["value"] + "</b></p>");
                        $(cur_proposal_content).append("<p>Certificate Name To Generate 2 : <br><b>" + data["name"] + "</b></p>");
                        $(cur_proposal_content).append("<img style='max-width: 100px; max-height: 100px;' src='" + data["image"] + "'>")
                        $(cur_proposal_content).append("<p>Proposal Timestamp : <br><b>" + res_attr[2]["value"] + "</b></p>");
                      });
                    } else if (event_name == "BurnProposalCreated") {
                      $(cur_proposal_content).append("<p>Operation : <br><b>Burn</b></p>");
                      $(cur_proposal_content).append("<p>Burn Id : <br><b>" + args["tokenId"]+ "</b></p>");
                    }
                    cur_proposal_content_box.append(cur_proposal_header_box);
                    cur_proposal_content_box.append(cur_proposal_content);
                    $(cur_proposal_content_box).append("<button class='check-proposal-vote' id='check-proposal-vote-" + args["proposalIdx"] + "' onclick='check_proposal_vote(" + args["proposalIdx"] + ")'>Check Votes</button>");
                    cur_proposal.append(cur_proposal_content_box);
                    $(cur_proposal_header_box).append("<button id='reject-btn-" + args["proposalIdx"]+ "' class='reject-btn' onclick='reject_for_proposal(" + args["proposalIdx"]+ ")'>REJECT</button>");
                    $(cur_proposal_header_box).append("<button id='agree-btn-" + args["proposalIdx"] + "' class='agree-btn' onclick='agree_for_proposal(" + args["proposalIdx"]+ ")'>ACCEPT</button>");
                    $("#proposal-box").prepend(cur_proposal);
                  } else if (event_name == "ProposalSigned" && curAccount == args["signer"]) {
                    $("#agree-btn-" + args["proposalIdx"]).prop("disabled", true);
                    $("#reject-btn-" + args["proposalIdx"]).prop("disabled", false);
                  } else if (event_name == "ProposalRejected" && curAccount == args["rejecter"]) {
                    $("#reject-btn-" + args["proposalIdx"]).prop("disabled", true);
                    $("#agree-btn-" + args["proposalIdx"]).prop("disabled", false);
                  } else if (event_name == "FoundingProposalExecuted" || event_name == "IssueProposalExecuted" || event_name == "BurnProposalExecuted" || event_name == "BurnOneIssueTwoProposalExecuted" || event_name == "GrantVoteProposalExecuted") {
                    $("#proposal-" + args["proposalIdx"]).addClass("passed");

                    if (event_name == "FoundingProposalExecuted") {
                      let cur_collection = document.createElement("div");
                      cur_collection.setAttribute("id", "collection-" + args["newItemId"]);
                      cur_collection.classList.add("collection-item");
                      let cur_collection_content_box = document.createElement("div");
                      cur_collection_content_box.classList.add("collection-content-box");
                      let cur_collection_header_box = document.createElement("div");
                      cur_collection_header_box.classList.add("collection-header-box");
                      let cur_collection_title = document.createElement("h3");
                      $(cur_collection_header_box).append(cur_collection_title)
                      cur_collection_title.classList.add("collection-title");
                      cur_collection_title.innerText = "Collection#" + args["newItemId"];
                      let cur_collection_content = document.createElement("div");
                      cur_collection_content.classList.add("collection-content");
                      $(cur_collection_content).append("<p>Proposer : <br><b>" +args["proposer"]+ "</b></p>");

                      fetch(args["certificateTokenURI"])
                      .then(function(response) {
                        return response.json();
                      }).then(function(data) {
                        res_attr = data["attributes"];
                        $(cur_collection_content).append("<p>Operation : <br><b>Found</b></p>");
                        $(cur_collection_content).append("<p>Founded Amount : <br><b>" + res_attr[3]["value"] + "</b></p>");
                        total_found += Number(res_attr[3]["value"]);
                        updateFound();
                        $(cur_collection_content).append("<p>Certificate Name : <br><b>" + data["name"] + "</b></p>");
                        $(cur_collection_content).append("<img style='max-width: 100px; max-height: 100px;' src='" + data["image"] + "'>")
                      });

                      cur_collection_content_box.append(cur_collection_header_box);
                      cur_collection_content_box.append(cur_collection_content);
                      cur_collection.append(cur_collection_content_box);
                      $("#collection-box").prepend(cur_collection);
 
                    } else if (event_name == "IssueProposalExecuted") {
                      let cur_collection = document.createElement("div");
                      cur_collection.setAttribute("id", "collection-" + args["newItemId"]);
                      cur_collection.classList.add("collection-item");
                      let cur_collection_content_box = document.createElement("div");
                      cur_collection_content_box.classList.add("collection-content-box");
                      let cur_collection_header_box = document.createElement("div");
                      cur_collection_header_box.classList.add("collection-header-box");
                      let cur_collection_title = document.createElement("h3");
                      $(cur_collection_header_box).append(cur_collection_title)
                      cur_collection_title.classList.add("collection-title");
                      cur_collection_title.innerText = "Collection#" + args["newItemId"];
                      let cur_collection_content = document.createElement("div");
                      cur_collection_content.classList.add("collection-content");
                      $(cur_collection_content).append("<p>Proposer : <br><b>" +args["proposer"]+ "</b></p>");

                      fetch(args["certificateTokenURI"])
                       .then(function(response) {
                        return response.json();
                      }).then(function(data) {
                        res_attr = data["attributes"];
                        $(cur_collection_content).append("<p>Operation : <br><b>Issue</b></p>");
                        $(cur_collection_content).append("<p>Issued Amount : <br><b id=\"collection-" + args["newItemId"] + "-issue-amount\" class=\'collection-issue-amount\'>" + res_attr[3]["value"] + "</b></p>");
                        collection_amount.push(res_attr[3]["value"]);
                        total_issue += Number(res_attr[3]['value']);
                        updateIssue();
                        $(cur_collection_content).append("<p>Certificate Name : <br><b>" + data["name"] + "</b></p>");
                        $(cur_collection_content).append("<img style='max-width: 100px; max-height: 100px;' src='" + data["image"] + "'>")
                      });

                      cur_collection_content_box.append(cur_collection_header_box);
                      cur_collection_content_box.append(cur_collection_content);
                      cur_collection.append(cur_collection_content_box);
                      $("#collection-box").prepend(cur_collection);
                    } else if (event_name == "BurnProposalExecuted") {
                      burned_list.push(args["tokenId"]);
                      updateIssue();
                      $("#collection-" + args["tokenId"]).addClass("burned");
                    } else if (event_name == "BurnOneIssueTwoProposalExecuted") {
                      burned_list.push(args["tokenId"]);
                      updateIssue();
                      $("#collection-" + args["tokenId"]).addClass("burned");
                      let cur_collection_1 = document.createElement("div");
                      cur_collection_1.setAttribute("id", "collection-" + args["newItemId_1"]);
                      cur_collection_1.classList.add("collection-item");
                      let cur_collection_1_content_box = document.createElement("div");
                      cur_collection_1_content_box.classList.add("collection-content-box");
                      let cur_collection_1_header_box = document.createElement("div");
                      cur_collection_1_header_box.classList.add("collection-header-box");
                      let cur_collection_1_title = document.createElement("h3");
                      $(cur_collection_1_header_box).append(cur_collection_1_title)
                      cur_collection_1_title.classList.add("collection-title");
                      cur_collection_1_title.innerText = "Collection#" + args["newItemId_1"];
                      let cur_collection_1_content = document.createElement("div");
                      cur_collection_1_content.classList.add("collection-content");
                      $(cur_collection_1_content).append("<p>Proposer : <br><b>" +args["proposer"]+ "</b></p>");

                      fetch(args["certificateTokenURI_1"])
                       .then(function(response) {
                        return response.json();
                      }).then(function(data) {
                        res_attr = data["attributes"];
                        $(cur_collection_1_content).append("<p>Operation : <br><b>Issue</b></p>");
                        $(cur_collection_1_content).append("<p>Issued Amount : <br><b id=\'collection-" + args["newItemId_1"]+ "-issue-amount\' class=\'collection-issue-amount\'>" + res_attr[3]["value"] + "</b></p>");
                        total_issue += Number(res_attr[3]['value']);
                        collection_amount.push(res_attr[3]['value']);
                        updateIssue();
                        $(cur_collection_1_content).append("<p>Certificate Name : <br><b>" + data["name"] + "</b></p>");
                        $(cur_collection_1_content).append("<img style='max-width: 100px; max-height: 100px;' src='" + data["image"] + "'>")
                      });

                      cur_collection_1_content_box.append(cur_collection_1_header_box);
                      cur_collection_1_content_box.append(cur_collection_1_content);
                      cur_collection_1.append(cur_collection_1_content_box);
                      $("#collection-box").prepend(cur_collection_1);


                      let cur_collection_2 = document.createElement("div");
                      cur_collection_2.setAttribute("id", "collection-" + args["newItemId_2"]);
                      cur_collection_2.classList.add("collection-item");
                      let cur_collection_2_content_box = document.createElement("div");
                      cur_collection_2_content_box.classList.add("collection-content-box");
                      let cur_collection_2_header_box = document.createElement("div");
                      cur_collection_2_header_box.classList.add("collection-header-box");
                      let cur_collection_2_title = document.createElement("h3");
                      $(cur_collection_2_header_box).append(cur_collection_2_title)
                      cur_collection_2_title.classList.add("collection-title");
                      cur_collection_2_title.innerText = "Collection#" + args["newItemId_2"];
                      let cur_collection_2_content = document.createElement("div");
                      cur_collection_2_content.classList.add("collection-content");
                      $(cur_collection_2_content).append("<p>Proposer : <br><b>" +args["proposer"]+ "</b></p>");

                      fetch(args["certificateTokenURI_2"])
                       .then(function(response) {
                        return response.json();
                      }).then(function(data) {
                        res_attr = data["attributes"];
                        $(cur_collection_2_content).append("<p>Operation : <br><b>Issue</b></p>");
                        $(cur_collection_2_content).append("<p>Issued Amount : <br><b id=\'collection-" + args["newItemId_2"] + "-issue-amount\' class=\'collection-issue-amount\'>" + res_attr[3]["value"] + "</b></p>");
                        total_issue += Number(res_attr[3]['value']);
                        collection_amount.push(res_attr[3]['value']);
                        updateIssue();
                        $(cur_collection_2_content).append("<p>Certificate Name : <br><b>" + data["name"] + "</b></p>");
                        $(cur_collection_2_content).append("<img style='max-width: 100px; max-height: 100px;' src='" + data["image"] + "'>")
                      });

                      cur_collection_2_content_box.append(cur_collection_2_header_box);
                      cur_collection_2_content_box.append(cur_collection_2_content);
                      cur_collection_2.append(cur_collection_2_content_box);
                      $("#collection-box").prepend(cur_collection_2);
                    }
                  } else if (event_name == "ProposalDeprecated") {
                    $("#proposal-" + args["proposalIdx"]).addClass("rejected");
                  }
                }
            } else {
                console.log(errors);
            }
        }
      );
    }

  updateIssue();
  updateFound();
  updateVoteNumber();

  getEvents();

  async function updateVoteNumber() {
    const SCS_raw = new ethers.Contract(user_id, user_abi, signer);
    tx = await SCS_raw.checkVote();
    let user_vote = parseInt(tx[0]['_hex'], 16), total_vote = parseInt(tx[1]['_hex'], 16);
    $("#user-vote").html("<div id='vote-number' class='vote-number'><b>Your Vote : </b><p class='my-vote-number'>" + user_vote + "</p> / " + total_vote + "</div>");
    $("#send-vote-amount").attr({"max": user_vote});
  }

</script>
{% endblock %}

