{% extends "templates/html_template.html" %}

{% block style %}
  <link rel="stylesheet" href="{{ url_for('static', filename='css/userpage.css') }}" />
{% endblock %}

{% block content %}
<div class="content-box">
  <div id="content-select-bar" class="content-select-bar">
    <h3 class="symbol">{{ user_data['symbol'] }}</h3>
    <button class="content-selector" onclick="switch_content('collection')">Collection</button>
    <button class="content-selector" onclick="switch_content('proposal')">Proposal</button>
  </div>

  <div id="content-collection" class="selected-content">
    {% if user_data['collection_url'] == '0' %}
    URL For This Organization Has Not Been Set Yet. Please Contact The Admin.
    {% else %}
    <iframe src={{ user_data['collection_url'] }} width="100%" height="100%" frameborder='0'></iframe>
    {% endif %}
  </div>

  <div id="content-proposal" class="selected-content">
    <div class="proposal-manipulate-bar">
      manipulate bar
    </div>
    <div class="proposal-box">
      {% for pps in proposal %}
      <div id="proposal_{{ pps['id'] }}" class="proposal-item {{ pps['state'] }} {{ pps['operation'] }}">
        <div class="proposal-content-box">
          <h3 class="proposal-title">Proposal#{{ pps['id'] }}</h3>
          <div id="proposal-content-{{ pps['id'] }}" class="proposal-content">
            {% if pps['operation'] == 'issue' %}
            <p>Operation : <br><b>Issue Certificate</b></p>
            <p>Issue Amount : <br><b>{{ pps['issue_amount'] }}</b></p>
            <p>Receiver : <br><b>{{ pps['receiver'] }}</b></p>
            <img style="max-width: 100px; max-height: 100px;" src="{{ pps['image'] }}">
            {% elif pps['operation'] == 'burn_one_issue_two' %}
            <p>Operation : <br><b>Burn 1 Issue 2</b></p>
            <p>Burn Id : <br><b>{{ pps['burn_id'] }}</b></br></b>
            <p>Issue Amount 1 : <br><b>{{ pps['issue_amount_1'] }}</b></br></b>
            <p>Receiver 1 : <br><b>{{ pps['receiver_1'] }}</b></br></b>
            <img style="max-width: 100px; max-height: 100px;" src="{{ pps['image_1'] }}">
            <p>Issue Amount 2 : <br><b>{{ pps['issue_amount_2'] }}</b></br></b>
            <p>Receiver 2 : <br><b>{{ pps['receiver_2'] }}</b></br></b>
            <img style="max-width: 100px; max-height: 100px;" src="{{ pps['image_2'] }}">
            {% else %}
            <p>Operation : <br><b>Burn</b></p>
            <p>Burn Id : <br><b>{{ pps['burn_id'] }}</b></br></b>
            {% endif %}
            <p>Proposer : <br><b>{{ pps['proposer'] }}</b></p>
            <a href="/who_voted_the_proposal?user_id={{ user_id }}&proposal_id={{ pps['id'] }}" target="_blank">Who Voted For This Proposal?</a>
          </div>
        </div>

        <div class="proposal-agreement-box">
          {% if pps['state'] == 'voting' %}
          <button class="vote-btn" onclick="vote_for_proposal('{{ pps["id"] }}')">VOTE</button>
          {% elif pps['state'] == 'rejected' %}
          <p style="margin-top: 20px;">Rejecter : <br><b>{{ pps['rejecter'] }}</b></br><p>
          {% endif %}
        </div>
      </div>
      {% endfor %}
    </div>
    <button class="propose-btn" onclick="open_form('propose')">
      <p class="propose-icon">+Propose</p>
    </button>
  </div>
</div>

<div id="form-blocker" class="blocker">
  <div class="form-box">
    <form id="form-propose" class="form-propose form" onsubmit="return confirm('Are you sure you want to submit?')" method="POST" enctype="multipart/form-data">
      <input type="hidden" id="csrf_token" name="csrf_token" value="{{ csrf_token() }}"/>
      <h3 class="form-title">Propose An Operation</h3>
      <input type="text" name="proposer" class="form-item" size="50" placeholder="Proposer Name">
      <br>
      <input type="password" name="key" class="form-item" size="50" placeholder="Your Key">
      <br>
      <br>
      <select name="operation" class="propose-form-item" onchange='switch_propose_operation($(this).find(":selected").val())'>
        <option value="issue">Issue</option>
        <option value="burn_one_issue_two">Burn One Issue Two</option>
        <option value="burn">Burn</option>
      </select>

      <div id="form-propose-issue" class="form-propose-operation">
        <input type="text" name="issue_amount" class="form-item" size="50" placeholder="Issue Amount" pattern="\d*">
        <br>
        <input type="text" name="receiver" class="form-item" size="50" placeholder="Receiver Account (keep empty if to system)">
        <br>
        <input type="file" class="register-form-content" name="issue_image" accept="image/*" placeholder="Certificate Image">
      </div>
      
      <div id="form-propose-burn_one_issue_two" class="form-propose-operation">
        <input type="text" name="b1i2_burn_id" class="form-item" size="50" placeholder="Certificate Id To Burn">
        <br>
        <br>
        <input type="text" name="b1i2_issue_amount_1" class="form-item" size="50" placeholder="Issue Amount 1" pattern="\d*">
        <br>
        <input type="text" name="b1i2_receiver_1" class="form-item" size="50" placeholder="Receiver Account 1 (keep empty if to system)">
        <br>
        <input type="file" class="register-form-content" name="b1i2_image_1" accept="image/*" placeholder="Certificate Image 1">
        <br>
        <br>
        <input type="text" name="b1i2_issue_amount_2" class="form-item" size="50" placeholder="Issue Amount 2" pattern="\d*">
        <br>
        <input type="text" name="b1i2_receiver_2" class="form-item" size="50" placeholder="Receiver Account 2 (keep empty if to system)">
        <br>
        <input type="file" class="register-form-content" name="b1i2_image_2" accept="image/*" placeholder="Certificate Image 2">
      </div>
      
      <div id="form-propose-burn" class="form-propose-operation">
        <input type="text" name="burn_id" class="form-item" size="50" placeholder="Burn Id">
      </div>

      <br><br>
      <input type='submit' name='form_name' class="submit-btn" value="propose"/>
      <br><br>
      <button type="button" class="close-btn" onclick="close_form()">Close</button>
    </form>

    <form id="form-vote" class="form-vote form" onsubmit="return confirm('Are you sure you want to submit?')" method="POST">
      <input type="hidden" id="csrf_token" name="csrf_token" value="{{ csrf_token() }}"/>
      <input type="hidden" id="form-vote-proposal-id" name="proposal_id">
      <div class="form-vote-box">
        <div>
          <h3 id="form-vote-title" class="form-title"></h3>
          <br>
          <div id="form-vote-content" class="form-vote-content"></div>
          <br>
        </div>
        <div style="padding-top: 20%;">
          <input type="text" name="voter" class="form-item" size="50" placeholder="Voter Name">
          <br>
          <input type="password" name="key" class="form-item" size="50" placeholder="Your Key">
          <br><br>
          <label class="agree-checkbox"><input type="radio" name="agreement" value="agree">Agree</label>
          <label class="disagree-checkbox"><input type="radio" name="agreement" value="disagree">Disagree</label>
          <br><br>
          <input type='submit' name='form_name' class="submit-btn" value="vote"/>
          <br><br>
          <button type="button" class="close-btn" onclick="close_form()">Close</button>
        </div>
      </div>
    </form>
  </div>
</div>
{% endblock %}

{% block script %}
<script>
  function switch_content(content_type) {
      $('.selected-content').hide();
      $('#content-' + content_type).show();
    }

  function switch_propose_operation(operation_type) {
      $('.form-propose-operation').hide();
      $('#form-propose-' + operation_type).show();
    }

  function open_form(form_name) {
      $('.form').hide();
      $('.form-' + form_name).show();
      $('#form-blocker').show();
    }

  function close_form() {
      $('#form-blocker').hide();
    }

  function vote_for_proposal(proposal_id) {
      $('#form-vote-title').text('Vote For Proposal#' + proposal_id);
      var proposal_content = $('#proposal-content-' + proposal_id).html();
      $('#form-vote-content').html(proposal_content);
      $('#form-vote-proposal-id').val(proposal_id);
      open_form('vote');
    }
  
  $('.selected-content').hide();
  $('#form-blocker').hide();
  $('<input>').attr({'type': 'hidden', 'name': 'user_id', 'value': '{{ user_id }}'}).appendTo('form');
  switch_content('{{ preselect_content }}');
  switch_propose_operation('issue');
</script>
{% endblock %}
